<h2 class="font-medium text-xl">Uusi työkohde</h2>

<br />

<form id="uusi-tyokohde-form" hx-post="/tyokohteet" hx-target="#modal-content">
  <label>
    <label class="modal-label" for="tyyppi">Kohteen tyyppi</label>
    <select name="tyyppi" required class="modal-input">
      <option value="">Työkohteen tyyppi</option>
      {{#each worksites}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <div class="mb-5">
    <label class="modal-label" for="osoite">Osoite</label>
    <input type="text" name="osoite" id="osoite" placeholder="Osoite" required class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="postinumero">Postinumero</label>
    <input type="text" name="postinumero" id="postinumero" placeholder="Postinumero" required class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="postitoimipaikka">Postitoimipaikka</label>
    <input type="text" name="postitoimipaikka" id="postitoimipaikka" placeholder="Postitoimipaikka" required
      class="modal-input">
  </div>

  <div class="flex items-center">
    <button type="submit" class="button-submit">
      Tallenna
    </button>
    <div class="p-1"></div>
    <button hx-get="/tyhja" hx-target="#modal-content" class="button-cancel">
      Peruuta
    </button>
  </div>
</form>