<h2 class="font-medium text-xl">Uusi työkohde</h2>

<br />

<form id="uusi-tyokohde-form" hx-post="/tyokohteet" hx-target="#modal-content">
  <label>
    <label class="block font-medium text-gray-900 text-sm mb-2" for="tyyppi">Kohteen tyyppi</label>
    <select name="tyyppi" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option value="">Työkohteen tyyppi</option>
      {{#each worksites}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </label>

  <div class="mb-5">
    <label class="block font-medium text-gray-900 text-sm mb-2" for="osoite">Osoite</label>
    <input type="text" name="osoite" id="osoite" placeholder="Osoite" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
  </div>

  <div class="mb-5">
    <label class="block font-medium text-gray-900 text-sm mb-2" for="postinumero">Postinumero</label>
    <input type="text" name="postinumero" id="postinumero" placeholder="Postinumero" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
  </div>

  <div class="mb-5">
    <label class="block font-medium text-gray-900 text-sm mb-2" for="postitoimipaikka">Postitoimipaikka</label>
    <input type="text" name="postitoimipaikka" id="postitoimipaikka" placeholder="Postitoimipaikka" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
  </div>

  <div class="flex items-center">
    <button type="submit"
      class="px-4 py-2 my-2 font-semibold text-white bg-blue-700 rounded hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none">
      Tallenna
    </button>
    <div class="p-1"></div>
    <button hx-get="/tyhja" hx-target="#modal-content"
      class="px-4 py-2 my-2 font-semibold rounded hover:text-white text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300">
      Peruuta
    </button>
  </div>
</form>