<!-- Tapahtuma 2 html -->
<div>
  <form id="test-form" hx-post="/par/t1" hx-target="#form-response" hx-swap="outerHTML">
    <p>
    <h2>Lisää uusi työkohde asiakkaalle X</h2>
    </p>
    <p>
      Nimi
      <!-- WorkSite Placeholder -->
    </p>
    <p>
      Osoite
      <input type="text" name="address" placeholder="Osoite" required>
    </p>
    <p>
      Postinumero
      <input type="text" name="zip" placeholder="Postinumero" required>
    </p>
    <p>
      Postitoimipaikka
      <input type="text" name="city" placeholder="Postitoimipaikka" required>
    </p>

    <button type="submit">Submit</button>
  </form>

  <div id="form-response">
    <!-- Vastaus palvelimelta (esim tallennus onnistui) -->
  </div>
</div>