<h2 class="font-medium text-xl">Uusi asiakas</h2>

<div class="py-3"></div>

<form id="uusi-asiakas-form" hx-post="/asiakkaat" hx-target="#main-content">
  <div class="mb-5">
    <label class="modal-label" for="nimi">Koko nimi</label>
    <input type="text" name="nimi" id="nimi" placeholder="Etunimi sukunimi" required class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="osoite">Osoite</label>
    <input type="text" name="osoite" id="osoite" placeholder="Katuosoite" required class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="postinumero">Postinumero</label>
    <input type="text" name="postinumero" id="postinumero" placeholder="Postinumero" required class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="postitoimipaikka">Postitoimipaikka</label>
    <input type="text" name="postitoimipaikka" id="postitoimipaikka" placeholder="Postitoimipaikka" required
      class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="sahkoposti">Sähköpostiosoite</label>
    <input type="text" name="sahkoposti" id="sahkoposti" placeholder="Sähköpostiosoite" required class="modal-input">
  </div>

  <div class="mb-5">
    <label class="modal-label" for="puhelinnumero">Puhelinnumero</label>
    <input type="text" name="puhelinnumero" id="puhelinnumero" placeholder="Puhelinnumero" required class="modal-input">
  </div>

  <div class="flex items-center">
    <button type="submit" class="button-submit">
      Tallenna
    </button>
    <div class="p-1"></div>
    <button hx-get="/tyhja" hx-target="#modal-content" class="button-cancel">
      Peruuta
    </button>
  </div>
</form>