<nav>
  <div class="max-w-screen-lg mx-auto">

    <div class="flex items-start px-4 pt-2">
      <div>
        <img src="/img/logo.webp" alt="Sähkötärsky" class="h-10 w-10 mr-4 border border-black dark:border-gray-500">
      </div>

      <div class="flex-grow items-center">
        <a href="#" hx-get="/tyosopimukset" hx-target="#main-content" hx-push-url="true">
          <span id="tarsky-logo">Sähkötärsky</span>
        </a>
      </div>

    </div>

    <div class="relative flex flex-wrap items-center justify-between p-4">
      <div class="w-full md:block md:w-auto" id="navbar-default">
        <ul class="navbar-ul">
          {{#each navBarItems}}
          <li>
            <a href="#" hx-get="/{{osoite}}" hx-target="#main-content" hx-push-url="true" class="navbar-ul-li-a">
              {{nimi}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="absolute top-4 right-6 transform -translate-y-full">
        {{#if loggedUser}}
        <div hx-post="/kirjaudu-ulos"
          class="rounded-md cursor-pointer font-medium dark:text-black dark:bg-gray-100 px-4 pb-4">
          {{loggedUser}}
          {{> uloskirjautumisSvg}}
        </div>
        {{/if}}
      </div>
    </div>

  </div>
</nav>