<nav class="bg-white border-gray-200">
  <div class="max-w-screen-lg mx-auto">

    <div class="flex items-start px-4">
      <div class="pt-4">
        <img src="/img/logo.webp" alt="Sähkötärsky" class="h-10 w-10 mr-4 border border-black">
      </div>

      <div class="flex-grow items-center pt-4">
        <a href="#" hx-get="/tyosopimukset" hx-target="#main-content" hx-push-url="true">
          <span class="text-3xl font-semibold whitespace-nowrap">Sähkötärsky</span>
        </a>
      </div>

      <div class="pt-4">
        {{#if loggedUser}}
        <div hx-post="/kirjaudu-ulos" class="cursor-pointer font-medium">
          {{loggedUser}}
          {{> uloskirjautumisSvg}}
        </div>
        {{/if}}
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-between p-4">
      <div class="w-full md:block md:w-auto" id="navbar-default">
        <ul class="navbar-ul">
          {{#each navBarItems}}
          <li>
            <a href="#" hx-get="/{{osoite}}" hx-target="#main-content" hx-push-url="true" class="navbar-ul-li-a">
              {{nimi}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</nav>