<nav class="bg-white border-gray-200">
  <div class="max-w-screen-lg mx-auto">

    <div class="flex items-start px-4">
      <div class="pt-4">
        <img src="/img/logo.webp" alt="Sähkötärsky" class="h-10 w-10 mr-4 border border-black">
      </div>

      <div class="flex-grow items-center pt-4">
        <a href="#" hx-get="/tyosopimukset" hx-target="#main-content" hx-push-url="true">
          <span class="text-3xl font-semibold whitespace-nowrap">Sähkötärsky</span>
        </a>
      </div>

      <div class="pt-4">
        {{#if loggedUser}}
        <div hx-post="/kirjaudu-ulos" class="cursor-pointer font-medium">
          {{loggedUser}}
          {{> uloskirjautumisSvg}}
        </div>
        {{/if}}
      </div>
    </div>

    <div class="flex flex-wrap items-center justify-between p-4">
      <div class="w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0">
          {{#each navBarItems}}
          <li>
            <a href="#" hx-get="/{{osoite}}" hx-target="#main-content" hx-push-url="true"
              class="block text-gray-900 rounded bg-slate-300 md:hover:bg-slate-200 md:border-0 md:hover:text-blue-700 md:py-1 md:px-4 drop-shadow-lg">
              {{nimi}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</nav>