<div class="page-container mt-4">
  {{> otsikko title="Toimittajat"}}

  <div class="mt-6">
    {{#each toimittajat}}
    <div hx-get="/toimittajat/{{id}}" hx-target="#main-content" hx-push-url="true"
      class="flex justify-between p-2 items-table-row">
      <div>
        <div class="grid">
          <span class="font-medium text-lg">
            {{nimi}}
          </span>
          <span class="text-md">
            {{osoite}}
          </span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>