<h1 class="font-medium text-3xl">Toimittajat</h1>

<div>
  {{#each toimittajat}}
  <div hx-get="/toimittajat/{{id}}" hx-target="#main-content" hx-push-url="true"
    class="flex justify-between p-2 hover:bg-neutral-200 rounded cursor-pointer">
    <div>
      <div class="grid">
        <span class="font-medium text-lg">
          {{nimi}}
        </span>
        <span class="text-md">
          {{osoite}}
        </span>
      </div>
    </div>
    <div class="capitalize">
      x tarviketta
    </div>
  </div>
  {{/each}}
</div>