{{#unless htmx}}
<!DOCTYPE html>
<!-- laittamalla html elementin classiksi "dark" vaihtuu dark mode -->
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <title>Sähkötärsky</title>

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="body">
  <div>
    {{> navbar navBarItems=navBarItems}}

    <div class="p-2"></div>

    <div class="max-w-screen-lg mx-auto">
      <div id="main-content">
        <!-- SPA vaihtelee kontsaa tähän -->
        {{/unless}}
        {{{body}}}
        {{#unless htmx}}
      </div>
      <div id="modal-content"></div>
    </div>
  </div>

  <div class="max-w-screen-lg mx-auto mt-4 px-10 text-sm">
    {{> footer}}
  </div>

</body>

</html>
{{/unless}}