{{#unless htmx}}
<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <title>Sähkötärsky</title>

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-neutral-200">
  <div>
    {{> navbar}}

    <div class="p-2"></div>

    <div class="max-w-screen-lg mx-auto">
      <div id="main-content" class="bg-white p-5 rounded-xl">
        <!-- SPA vaihtelee kontsaa tähän -->
        {{/unless}}
        {{{body}}}
        {{#unless htmx}}
      </div>
    </div>
  </div>

  </br>
</body>

</html>
{{/unless}}